body {
	font-family: Roboto, helvetica, sans-serif;
}

header,
main,
footer {
	max-width: 760px;
	margin: 0 auto;
}

.banner {
    border: 1px solid #000;
	padding: 1rem;
	background-color: rgb(230, 243, 254);
    font-weight: 700;
}

h1 {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin: 1rem 0;
}

main {
	display: grid;
    grid-template-columns: 1fr 200px;
}

section {
    padding: 1rem;
}

h2 {
	color: navy;
    grid-column: 1/3;
}

article p {
	text-align: justify;
    grid-column: 1/2;
}

.callout {
	color: #000;
    border: 1px solid #000;
	background-color: rgb(230, 243, 254);
    padding: 20px;
    grid-column: 1/3;
}

footer {
	margin-top: 1rem;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	font-size: smaller;
}
